nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  background-color: #000000;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.middle-nav {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.middle-nav a {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.middle-nav a:hover {
  color: var(--accent);
}

.middle-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--accent);
  transform: scaleX(0);
  transition: 0.15s linear;
}

.middle-nav a:hover::after {
  transform: scaleX(0.5);
}
